{%extends 'title.html'%}
{%block content%}
<div id="fh5co-practice" class="fh5co-bg-section">
    <div class="container">
        <div class="row">
            <div class="desc text-center">
                <h3>关于我们</h3>
                <p>我们致力于打造一流招聘网站，提供优质的岗位，让您花最短的时间找到最合适的岗位</p>
                <p>我们致力于提高简历质量，让您在最短的时间招聘最优秀的人才</p>
            </div>
         </div>
    </div>
</div>
<br/><br/><br/>
<div class="container">
    <div class="row">
        <div class="desc">
            <p>电话：15509861952</p>
            <p>邮箱：17734039306@163.com</p>
            <p>Q  Q：2628279941</p>
        </div>
    </div>
</div>
{%endblock%}