{%extends 'title.html'%}
{%block contents%}
<link rel="stylesheet" href="common/css/guide.css" />
{%endblock%}
{%block content%}
<img class="banner" src="common/images/banner.png">

<div id="fh5co-project" class="fh5co-bg-section">
    <div class="container">
        <div class="row animate-box">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                <a name="about1"></a>
                <h2>关于职场</h2>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6 text-center animate-box">
                <div class="bod">
                    <img src="common/img/project-1.jpg" class="img-responsive">
                    <div class="desc">
                        <h3>职场资讯</h3>
                        <a href="#" class="a-color"><p>顺丰：如何优雅地留住“快递小哥”？</p></a>
                        <a href="#" class="a-color"><p> 澳退休年龄2035年将延至70岁</p></a>
                        <a href="#" class="a-color"><p>7种最失败的职场人</p></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 text-center animate-box">
                <div class="bod">
                    <img src="common/img/project-2.jpg" class="img-responsive">
                    <div class="desc">
                        <h3>职场规则</h3>
                        <a href="#" class="a-color"><p>天才式员工在公司没前途！</p></a>
                        <a href="#" class="a-color"><p>给那些仍旧在公司混日子的人</p></a>
                        <a href="#" class="a-color"><p>别“那么”努力，没什么用</p></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 text-center animate-box">
                <div class="bod">
                    <img src="common/img/project-3.jpg" class="img-responsive">
                    <div class="desc">
                        <h3>职场礼仪</h3>
                        <a href="#" class="a-color"><p>善用职场“社交资本”</p></a>
                        <a href="#" class="a-color"><p>80/90后不能不会的5个社交媒</p></a>
                        <a href="#" class="a-color"><p>肢体语言助你玩转职场</p></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="fh5co-practice" class="fh5co-bg-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="common/images/hotel_feture_3.jpg" class="img-responsive" alt="Image">
            </div>
            <div class="col-md-6">
                <a name="resume"></a>
                <h3 class="heading">简历</h3>
                <p>就是对个人学历、经历、特长、爱好及其它有关情况所作的简明扼要的书面介绍。简历是有针对性的自我介绍的一种规范化、逻辑化的书面表达。对应聘者来说，简历是求职的“敲门砖“</p>
                <a href="#" class="a-color"><li>HR教你极品简历这样写</li></a>
                <a href="#" class="a-color"><li>简历不要输在照片上</li></a>
                <a href="#" class="a-color"><li>为什么你得不到工作机会？</li></a>
                <a href="#" class="a-color"><li>好简历让你轻松进名企</li></a>
                <a href="#" class="a-color"><li>简历为何会惨遭淘汰</li></a>
                <a href="#" class="a-color"><li>HR筛选简历内幕全解析</li></a>
                <a href="#" class="a-color"><li>简历投外企要注意什么？</li></a>
                <a href="#" class="a-color"><li>简历通关五大关键词</li></a>
            </div>
        </div>
        <br/><br/>
        <div class="row">
            <div class="col-md-6">
                <a name="face"></a>
                <h3 class="heading">面试</h3>
                <p>面试是通过书面或面谈的形式来考察一个人的工作能力与否，物以类聚，通过面试可以初步判断应聘者是否可以融入自己的团队。是一种经过组织者精心策划的招聘活动。面试给公司和应招者提供了进行双向交流的机会，能使公司和应招者之间相互了解，从而双方都可更准确做出聘用与否、受聘与否的决定。</p>
                <a href="#" class="a-color"><li>面霸是这样炼成的</li></a>
                <a href="#" class="a-color"><li>自我介绍攻略大全</li></a>
                <a href="#" class="a-color"><li>如何回答你的离职原因</li></a>
                <a href="#" class="a-color"><li>电话面试中不可犯的10个错误</li></a>
                <a href="#" class="a-color"><li>面试双方如何化解矛盾</li></a>
                <a href="#" class="a-color"><li>面试考察你的哪些能力</li></a>
                <a href="#" class="a-color"><li>面试6要素必知！</li></a>
                <a href="#" class="a-color"><li>360度备战你的面试</li></a>
            </div>
            <div class="col-md-6">
                <img src="common/images/hotel_feture_3.jpg" class="img-responsive" alt="Image">
            </div>
        </div>
        <br/><br/>
        <div class="row">
            <div class="col-md-6">
                <img src="common/images/hotel_feture_3.jpg" class="img-responsive" alt="Image">
            </div>
            <div class="col-md-6">
                <a name="face"></a>
                <h3 class="heading">职业规划</h3>
                <p>职场规划分个人职业规划（设计）和组织职业规划（设计）两个方面。在任何社会、任何体制下，个人职业设计更为重要，它是人的职业生涯发展的真正动力和加速器。其实质是追求最佳职业生涯发展道路的过程。</p>
                <a href="#" class="a-color"><li>职业规划师的互联网跳槽观</li></a>
                <a href="#" class="a-color"><li>想转行 你准备好了吗?</li></a>
                <a href="#" class="a-color"><li>如何做行业的高手？</li></a>
                <a href="#" class="a-color"><li>伯乐眼中的低学历强人</li></a>
                <a href="#" class="a-color"><li>改变我生活的三个生涯建议</li></a>
                <a href="#" class="a-color"><li>打造“狼性”销售员</li></a>
                <a href="#" class="a-color"><li>好员工更需要有好的沟通技能</li></a>
                <a href="#" class="a-color"><li>不让自己当“职场处理品”</li></a>
            </div>
        </div>

    </div>
</div>



{%endblock%}