{%extends 'title.html'%}
{%block content%}
<aside id="fh5co-hero" class="js-fullheight">
    <div class="flexslider js-fullheight">
        <ul class="slides">
            <li style="background-image: url(common/img/img_bg_1.jpg);">
                <div class="overlay-gradient"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center js-fullheight slider-text">
                            <!--<div class="slider-text-inner">
                                <h1>Expert Legal Solutions</h1>
                                 <h2>More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></h2>
                                 <p><a class="btn btn-primary btn-lg" href="#">Make An Appointment</a></p>
                            </div>-->
                        </div>
                    </div>
                </div>
            </li>
            <li style="background-image: url(common/img/img_bg_2.jpg);">
                <div class="overlay-gradient"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center js-fullheight slider-text">
                            <!--<div class="slider-text-inner">
                                <h1>Business Law</h1>
                                 <h2>More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></h2>
                                 <p><a class="btn btn-primary btn-lg btn-learn" href="#">Make An Appointment</a></p>
                            </div>-->
                        </div>
                    </div>
                </div>
            </li>
            <li style="background-image: url(common/img/img_bg_3.jpg);">
                <div class="overlay-gradient"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center js-fullheight slider-text">
                            <!--<div class="slider-text-inner">
                                <h1>Defend Your Constitutional Right with Legal Help</h1>
                                 <h2>More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></h2>
                                 <p><a class="btn btn-primary btn-lg btn-learn" href="#">Make An Appointment</a></p>
                            </div>-->
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</aside>




<div id="fh5co-counter" class="fh5co-counters fh5co-bg-section">
    <div class="container">
        <div class="row">
            <div class="col-md-3 text-center animate-box">
                <span class="icon"><i class="icon-user"></i></span>
                <span class="fh5co-counter js-counter" data-from="0" data-to="300" data-speed="5000" data-refresh-interval="50"></span>
                <span class="fh5co-counter-label">注册公司</span>
            </div>
            <div class="col-md-3 text-center animate-box">
                <span class="icon"><i class="icon-trophy"></i></span>
                <span class="fh5co-counter js-counter" data-from="0" data-to="3000" data-speed="5000" data-refresh-interval="50"></span>
                <span class="fh5co-counter-label">空缺职位</span>
            </div>
            <div class="col-md-3 text-center animate-box">
                <span class="icon"><i class="icon-users"></i></span>
                <span class="fh5co-counter js-counter" data-from="0" data-to="800" data-speed="5000" data-refresh-interval="50"></span>
                <span class="fh5co-counter-label">注册用户</span>
            </div>
            <div class="col-md-3 text-center animate-box">
                <span class="icon"><i class="icon-paper"></i></span>
                <span class="fh5co-counter js-counter" data-from="0" data-to="1200" data-speed="5000" data-refresh-interval="50"></span>
                <span class="fh5co-counter-label">待岗简历</span>
            </div>
        </div>
    </div>
</div>




<div id="fh5co-project">
    <div class="container">
        <div class="row animate-box">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                <h2>热门岗位</h2>
                <p>热门岗位，紧急招募，期待您的到来</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6 text-center fh5co-project animate-box" data-animate-effect="fadeIn">
                <a href="#"><img src="common/work/programmer.jpg" alt="Free HTML5 Website Template by FreeHTML5.co" class="img-responsive" style="height: 260px">
                    <h3>Programmer</h3>
                    <!--<span>CEO. Hon Doe</span>-->
                </a>
            </div>
            <div class="col-md-4 col-sm-6 text-center fh5co-project animate-box" data-animate-effect="fadeIn" >
                <a href="#"><img src="common/work/Lawyer.jpg" alt="Free HTML5 Website Template by FreeHTML5.co" class="img-responsive" style="height: 260px">
                    <h3>Lawyer</h3>
                </a>
            </div>
            <div class="col-md-4 col-sm-6 text-center fh5co-project animate-box" data-animate-effect="fadeIn">
                <a href="#"><img src="common/work/Electronic Commerce.jpg" alt="Free HTML5 Website Template by FreeHTML5.co" class="img-responsive" style="height: 260px">
                    <h3>Electronic Commerce</h3>
                </a>
            </div>
            <div class="col-md-4 col-sm-6 text-center fh5co-project animate-box" data-animate-effect="fadeIn">
                <a href="#"><img src="common/work/Clothing design.jpg" alt="Free HTML5 Website Template by FreeHTML5.co" class="img-responsive" style="height: 260px">
                    <h3>Clothing Design</h3>
                </a>
            </div>
            <div class="col-md-4 col-sm-6 text-center fh5co-project animate-box" data-animate-effect="fadeIn">
                <a href="#"><img src="common/work/Mechanical manufacture.jpg" alt="Free HTML5 Website Template by FreeHTML5.co" class="img-responsive" style="height: 260px">
                    <h3>Mechanical Manufacture</h3>
                </a>
            </div>
            <div class="col-md-4 col-sm-6 text-center fh5co-project animate-box" data-animate-effect="fadeIn">
                <a href="#"><img src="common/work/Hotel Manager.jpg" alt="Free HTML5 Website Template by FreeHTML5.co" class="img-responsive" style="height: 260px">
                    <h3>Hotel Manager</h3>
                </a>
            </div>
        </div>
    </div>
</div>




<div id="fh5co-practice" class="fh5co-bg-section">
    <div class="container">
        <div class="row animate-box">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                <h2>行业分类</h2>
                <p></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 text-center animate-box">
                <div class="services">
						<span class="icon">
							<i class="icon-mouse"></i>
						</span>
                    <div class="desc">
                        <h3><a href="#">IT/互联网</a></h3>
                        <p>计算机开软硬件开发、应用、维护，以网络为范畴的相关科研、商业等行为</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center animate-box">
                <div class="services">
						<span class="icon">
							<i class="icon-check"></i>
						</span>
                    <div class="desc">
                        <h3><a href="#">金融</a></h3>
                        <p>经营金融商品的特殊行业，它包括银行业、保险业、信托业、证券业和租赁业</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center animate-box">
                <div class="services">
						<span class="icon">
							<i class="icon-bucket"></i>
						</span>
                    <div class="desc">
                        <h3><a href="#">建筑</a></h3>
                        <p>建筑业是专门从事土木工程、房屋建设和设备安装以及工程勘察设计工作</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center animate-box">
                <div class="services">
						<span class="icon">
							<i class="icon-man"></i>
						</span>
                    <div class="desc">
                        <h3><a href="#">人力资源</a></h3>
                        <p>进行人才选拔，建立科学的考核与激励机制，激发人才潜能，创建优秀团队</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center animate-box">
                <div class="services">
						<span class="icon">
							<i class="icon-layers2"></i>
						</span>
                    <div class="desc">
                        <h3><a href="#">法律</a></h3>
                        <p>接受委托或者指定,为当事人提供诉讼业务与非诉讼业务</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center animate-box">
                <div class="services">
						<span class="icon">
							<i class="icon-help"></i>
						</span>
                    <div class="desc">
                        <h3><a href="#">传媒</a></h3>
                        <p>传播以文字、图形、艺术、语言、影像、声音、数码、符号等形式存在的信息产品</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock%}